In [ ]:
#CUTLET

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
data=pd.read_csv("C:\\Users\\kanis\\Documents\\Assignment\\Assignments data\\Hypothesis\\Cutlets.csv")

In [4]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [17]:
statistic,pvalue=stats.f_oneway(data.iloc[:,0],data.iloc[:,1])
alpha=0.05
print("Anova \n pvalue is"+ str(pvalue))
if pvalue<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

Anova
 pvalue is0.4722394724599509
H0 holds true

In [14]:
#LABTAT

In [15]:
Labtat=pd.read_csv("C:\\Users\\kanis\\Documents\\Assignment\\Assignments data\\Hypothesis\\LabTAT.csv")

In [16]:
Labtat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [20]:
statistic,pvalue=stats.f_oneway(Labtat.iloc[:,0],Labtat.iloc[:,1],Labtat.iloc[:,2],Labtat.iloc[:,3])
alpha=0.05
print("ANOVA \n pvalue is"+ str(pvalue))
if pvalue<=alpha:
    print("Rejact H0")
else:
    print("Holds H0 true")

ANOVA
 pvalue is2.1156708949992414e-57
Rejact H0

In [21]:
#BUYERRATIO

In [22]:
buyerratio=pd.read_csv("C:\\Users\\kanis\\Documents\\Assignment\\Assignments data\\Hypothesis\\BuyerRatio.csv")

In [28]:
buyerratio.head()

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [30]:
statistic,pvalue,dof,expected=stats.chi2_contingency(buyerratio)
alpha=0.05
print("CHI SQUARE TEST \npvalue is"+ str(pvalue))
if pvalue <= alpha:
    print("Reject H0")
else:
    print("H0 Holds true")

CHI SQUARE TEST
pvalue is0.6603094907091882
H0 Holds true

In [31]:
#CUSTOMER+ORDERFORM

In [46]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()

In [47]:
cform=pd.read_csv("C:\\Users\\kanis\\Documents\\Assignment\\Assignments data\\Hypothesis\\Costomer+OrderForm.csv")

In [48]:
cform.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [55]:
cform["Phillippines"]=label_encoder.fit_transform(cform["Phillippines"])
cform["Indonesia"]=label_encoder.fit_transform(cform["Indonesia"])
cform["Malta"]=label_encoder.fit_transform(cform["Malta"])
cform["India"]=label_encoder.fit_transform(cform["India"])

In [56]:
cform.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [59]:
statics,pvalue,dof,expected=stats.chi2_contingency(cform)
alpha=0.05
print("CHI SQUARE TEST  \npvalue is"+ str(pvalue))
if pvalue<=alpha:
    print("Reject H0")
else:
    print("Holds H0 True")

CHI SQUARE TEST
pvalue is1.0
Holds H0 True